@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');


body, html, button {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: var(--littleblue);
}

:root {
    --blue: #417e94;
    --darkblue: #172f3b;
    --littleblue: #badeeb;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.header, .footer {
    background-color: var(--blue);
    width: 400px;
    height: 50px;
    margin: 0 auto;
    display: flex;
}

.header {
    justify-content: space-between;
}

.header p {
    margin: 0;
    padding: 10px;
    font-weight: 200;
    font-size: 20px;
}

.header img {
    height: 25px;
    padding: 10px;
}

.time {
    background-color: var(--darkblue);
    width: 500px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 60px;
    font-weight: 100;
    word-spacing: 2px;
}

.container .time p {
    display: contents;
    font-size: 1.5rem;
}

.footer {
    justify-content: space-around;
    align-items: center;
}

button {
    height: 40px;
    width: 40px;
    padding: 4px 8px;
    text-align: center;
    position: relative;
    
    background-color: transparent;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

button svg {
    height: 25px;
    width: 25px;
    color: var(--darkblue);

    position: absolute;
    top: 8px;
    right: 6px;
}

button svg:hover {
    color: var(--littleblue);
}

